/* HEADER */
#user-nav{ width: 100%; background: #dedede; padding:3px;}
#user-nav ul li { margin:0 5px;}
#user-nav ul li.separator { color:#555;}
#user-nav ul li a{ 
	text-decoration: none;
	font-weight: bold;
	color:#666;
}
/* MENU  */
#menu{
	width:100%;
	margin-bottom:10px;
}
#menu ul li{
	background:#00588a;
	padding:6px;
	border-right:solid 1px #00466e;
	border-left:solid 1px #3379a1;
}
#menu ul li.separator{ color: #005991;}
#menu ul li a{
	color:#fff;
	font-size:14px;
	text-decoration: none;
}
/*  MAIN  */
#main{ 
	min-height: 400px; 
	margin-bottom: 10px;
}
/* FOOTER */
#footer {
	text-align: center;
	padding: 10px 0px 10px 0px;
	background-color: #0068A4;
	clear: both;
	width: 980px;
}
/* FORM CONTAINER */
#form_container{
	margin-top: 20px;
	width:100%;
	text-align: center;
}
#form_container .inner{
	width:400px;
	margin: 0 auto;
	padding:10px;
	border: 1px solid #aaaaaa;
}
#form_container p.error{ margin: 5px 0;}
#form_container form{ margin-top:10px; }
#form_container form p{ width: 100%; text-align: center;}
#form_container form p label{ display:block; float:right; margin-right: 10px; line-height:22px;}
#form_container form p input{ display:block; float:right; margin-right: 85px; }
#form_container form p input[type="button"]{ display: inline; float:none; margin:0; }
/*
	TRAMITES
*/
#tipos-tramite{
	width:300px;
	margin:30px auto;
}
#tipos-tramite li{
	text-align: center;
	margin:10px 0;
	border: solid 1px #88aaab;
	padding:5px;
}
#tipos-tramite li a{
	text-decoration: none;
}
#tipos-tramite li:hover h4{ 
	background-color: #dedede; 
}